@model HelpDeskViewModel
@{
    Layout = "_Layout";
}

<section class="HelpDesk__section">
    <div class="container-fluid container__HelpDesk">
        <div class="HelpDesk__content">
            <div class="HelpDesk__box">
                <div class="HelpDesk__addBtnBox">
                    <a class="HelpDesk__addBtn" data-bs-toggle="modal" data-bs-target="#Dodawanie">Dodaj</a>
                </div>
                <div class="modal fade" id="Dodawanie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title ticket__header">Dodaj ticket</h1>
                                <button type="button" class="btn-close ticket__close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form class="ticket__form" asp-action="AddTicket" asp-controller="HelpDesk">
                                @Html.Hidden("AccountID",Model.AccountID)
                                <div class="modal-body">
                                    <div class="ticket__row">
                                        <div class="ticket__titleBox">
                                            @Html.TextBox("TicketTitle",null,null,new  {@class = "ticket__input ticket__input--title", @placeholder = "Wpisz tytuł..."})
                                            @*<input type="text" id="ticketTitle" class="ticket__input ticket__input--title" placeholder="Wpisz tytuł..." />*@
                                        </div>
                                    </div>

                                    <div class="ticket__row">
                                        @Html.TextArea("TicketDescription",string.Empty,new {@class = "ticket__textarea", @placeholder = "Opis oraz informacje"})
                                        @*<textarea id="ticketOpis" class="ticket__textarea" placeholder="Opis oraz informacje"></textarea>*@
                                    </div>

                                    <div class="ticket__row">
                                        <label class="ticket__lable">Kategoria:</label>
                                        @Html.DropDownList("TicketCategory",HelpDesk_Menagment_Twilo.HtmlHelper.TicketCategoryGetList(), string.Empty, new {@class = "ticket__select"})

                                        @*  <select class="ticket__select">
                                        <option value="Zamówienie" class="ticket__selectOption">Zamówienia</option>
                                        <option value="Dyskusja" class="ticket__selectOption">Dyskusja</option>
                                        <option value="Zwrot" class="ticket__selectOption">Zwrot</option>
                                        <option value="Faktura" class="ticket__selectOption">Faktura</option>
                                        <option value="Hurtownia" class="ticket__selectOption">Hurtownia</option>
                                        </select>*@
                                    </div>

                                    <div class="ticket__row">
                                        <label class="ticket__lable">Status:</label>
                                        @Html.DropDownList("TicketStatus",HelpDesk_Menagment_Twilo.HtmlHelper.TicketStatusGetList(), string.Empty, new {@class = "ticket__select"})

                                        @* <select class="ticket__select">
                                        <option value="Nowe" class="ticket__selectOption">Nowe</option>
                                        <option value="Rozpatrywane" class="ticket__selectOption">Rozpatrywane</option>
                                        <option value="Wstrzymane" class="ticket__selectOption">Wstrzymane</option>
                                        <option value="Zakończone" class="ticket__selectOption">Zakończone</option>
                                        </select>*@
                                    </div>

                                    <div class="ticket__row">
                                        <label class="ticket__lable">Priorytet:</label>
                                        @Html.DropDownList("TicketPriority",HelpDesk_Menagment_Twilo.HtmlHelper.TicketPriorityGetList(), string.Empty, new {@class = "ticket__select"})

                                        @* <select class="ticket__select">
                                        <option value="Natychmiast" class="ticket__selectOption">Natychmiast</option>
                                        <option value="Pilny" class="ticket__selectOption">Pilny</option>
                                        <option value="Ważny" class="ticket__selectOption">Ważny</option>
                                        <option value="Normalny" class="ticket__selectOption">Normalny</option>
                                        <option value="Niski" class="ticket__selectOption">Niski</option>
                                        </select>*@
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary ticket__btn ticket__btn--close" data-bs-dismiss="modal">Zamknij</button>
                                        @*<button type="submit" class="btn btn-primary ticket__btn ticket__btn--add">Dodaj</button>*@
                                        <input type="submit" class="btn btn-primary ticket__btn ticket__btn--add" value="Dodaj" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ticketInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title ticket__header">Pełne informacje o ticketcie</h1>
                                <button type="button" class="btn-close ticket__close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form class="ticket__edit">
                                <input data-val="true" data-val-required="The TicketID field is required." id="TicketID" name="TicketID" type="hidden" value="">
                                @Html.Hidden("AccountID",Model.AccountID)
                                <div class="modal-body">

                                    <div class="ticketModal__row">
                                        <div class="ticketModal__title">
                                            <span class="ticketModal__titleText">Tutaj będzie tytuł ticketa</span>
                                        </div>
                                    </div>

                                    <div class="ticketModal__row">
                                        <div class="ticketModal__opis">
                                            <span class="ticketModal__opisText">

                                            </span>
                                        </div>
                                    </div>

                                    <div class="ticketModal__row">
                                        <div class="ticketModal__date">
                                            <span class="ticketModal__dateText">24-05-2004</span>
                                            <span class="ticketModal__status">Zrobione</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary ticket__btn ticket__btn--close" data-bs-dismiss="modal">Zamknij</button>
                                    <button type="submit" class="btn btn-primary ticket__btn ticket__btn--delete" asp-action="DeleteTicket" asp-controller="HelpDesk">Usuń</button>
                                    <button type="button" class="btn btn-primary ticket__btn ticket__btn--edit">Edytuj</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="HelpDesk__table">
                    <div class="tableDiv">
                        @{
                            int ColumnIndex = 0;

                            foreach (var pair in Model.Tickets)
                            {
                                int typeCounter = Enum.GetValues(typeof(HelpDesk_Menagment_Twilo.Models.DataBase.Ticket.TicketPriority)).Length - 1;
                                int Counter = ColumnIndex * Enum.GetValues(typeof(HelpDesk_Menagment_Twilo.Models.DataBase.Ticket.TicketPriority)).Length;

                                <div class="table__column">
                                    <div class="table__head">
                                        <span class="table__headText">@pair.Key.ToString()</span>
                                    </div>

                                    <div class="accordion accordion-flush" id="accordionParent--@ColumnIndex">

                                        @foreach (HelpDesk_Menagment_Twilo.Models.DataBase.Ticket.TicketPriority type in Enum.GetValues(typeof(HelpDesk_Menagment_Twilo.Models.DataBase.Ticket.TicketPriority)))
                                        {
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed btnAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse@(Counter - typeCounter)--@ColumnIndex" aria-expanded="false" aria-controls="flush-collapse@(Counter - typeCounter)--@ColumnIndex">
                                                        @type.ToString()
                                                        <div class="numbers">
                                                            <div class="number number--nowe">1</div>
                                                            <div class="number number--rozpatrywane">1</div>
                                                            <div class="number number--wstrzymane">11</div>
                                                            <div class="number number--zakonczone">111</div>
                                                        </div>
                                                    </button>
                                                </h2>
                                                <div id="flush-collapse@(Counter - typeCounter)--@ColumnIndex" class="accordion-collapse collapse" data-bs-parent="#accordionParent--@ColumnIndex">
                                                    <div class="accordion-body">
                                                        <div class="tickets">
                                                            @foreach (var ticket in pair.Value)
                                                            {
                                                                if (ticket.Priority != type) continue;
                                                                <div class="table__row">
                                                                    
                                                                    <div class="table__body">
                                                                        <div class="table__bodyRow table__bodyRowTitle">
                                                                            <a class="table__bodyTitle" data-bs-toggle="modal" data-bs-target="#ticketInfo">@ticket.Title</a>
                                                                        </div>
                                                                        <div class="table__bodyRow table__bodyRowNote">
                                                                            <span class="table__note">
                                                                                @Html.Raw(ticket.Description.Replace("\n","<br>"))
                                                                            </span>
                                                                        </div>
                                                                        <div class="table__bodyRow">
                                                                            <div class="table__dateBox">
                                                                                @{System.Diagnostics.Debug.WriteLine(ticket.TicketID);}
                                                                                <input data-val="true" data-val-required="The TicketID field is required." id="TicketID" name="TicketID" type="hidden" value="@ticket.TicketID">
                                                                                @Html.Hidden("TicketID",ticket.TicketID)
                                                                                @ticket.TicketID
                                                                                <span class="table__date">@ticket.DateofCreation</span>
                                                                                <span class="table__check">@ticket.Status.ToString()</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            typeCounter--;
                                        }
                                    </div>
                                </div>

                                ColumnIndex++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        'use strict';

        const tickets = document.querySelectorAll('.table__bodyTitle');
        let modalTitle = document.querySelector('.ticketModal__titleText');
        let modalText = document.querySelector('.ticketModal__opisText');
        let modalDate = document.querySelector('.ticketModal__dateText');
        let modalStatus = document.querySelector('.ticketModal__status');
        let modalTicketId = document.querySelector('#TicketID');

        //console.log(modalTicketId.nodeValue);

        tickets.forEach(function (ticket) {
            ticket.addEventListener('click', function (e) {
                const ticketInfo = ticket.parentNode.parentNode;

                const title = ticketInfo.querySelector('.table__bodyTitle').textContent;
                const text = ticketInfo.querySelector('.table__note').textContent;
                const date = ticketInfo.querySelector('.table__date').textContent;
                const status = ticketInfo.querySelector('.table__check').textContent
                const ticketID = ticketInfo.querySelector('#TicketID').value;

                modalTitle.textContent = title;
                modalText.textContent = text;
                modalDate.textContent = date;
                modalStatus.textContent = status;
                modalTicketId.value = ticketID;
                console.log(ticketID);
                console.log("ttt");
            })
        })

    </script>
}
